.white-panel {
    position: absolute;
}
.white-panel h1 {
    font-size: 14px;
}
.pr{
    position: relative;
}
a, a:hover, a:focus{
    text-decoration: none;
    color: #333;
}
.pr10{padding-right: 10px;}
.pl10{padding-left: 10px;}

.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}

.tc{text-align: center}